<h1>Privacy Policy</h1>
<p>Last updated: February 19, 2024</p>

<p>We respect your privacy and are committed to protecting any personal information that you may provide while using our Service.</p>
<p>This Privacy Policy outlines how we collect, use, maintain, and disclose information collected from users of the Application.</p>

<h2>Interpretation and Definitions</h2>
<h3>Interpretation</h3>
<p>The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>
<h3>Definitions</h3>
<p>For the purposes of this Privacy Policy:</p>
<ul>

<li>
<p><strong>Application</strong> refers to Android Applications provided by the Company.</p>
</li>
<li>
<p><strong>Company</strong> (referred to as either &quot;the Company&quot;, &quot;We&quot;, &quot;Us&quot; or &quot;Our&quot; in this Agreement) refers to SampuzApps.</p>
</li>
<li>
<p><strong>Country</strong> refers to: India</p>
</li>
<li>
<p><strong>Personal Data</strong> is any information that relates to an identified or identifiable individual.</p>
</li>
<li>
<p><strong>Service</strong> refers to the Application.</p>
</li>
<li>
<p><strong>You</strong> means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</p>
</li>
</ul>
<h2>Information Collection and Use</h2>

We <u>do not</u> access, collect, use, and share any Personal Data. We do not require you to provide any personal information to use our Service.


<h2>Changes to this Privacy Policy</h2>

<p>We may update Our Privacy Policy from time to time. We will notify You of any changes by posting the new Privacy Policy on this page.</p>
<p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>

<h2>Contact Us</h2>
<p>If you have any questions about this Privacy Policy, You can contact us:</p>
<ul>
<li>By email: sampuzapps@outlook.in</li>
</ul>
